
.App {
  text-align: center;
  
}

.task {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
  border-radius: 5px;
}

.button{
  border: 100px solid #000000;
}

.completed {
  text-decoration: line-through;
}
